<div id="loader" style="display: none;"></div>
<div style="margin: auto; width: 60%; border: 3px solid green; padding: 10px;">
<div>

  <div style="padding: 20px;">
    <img src="data:image/jpeg;base64,{{blog.logo}}" style="height: 400px; margin: auto; width: 100%;">
  </div>

  <div>
    <h2>{{blog.title}}</h2>
  </div>
  <div>
    <b>{{blog.author}}</b>  |   <b>{{blog.date}}</b>
    <button *ngIf="!isFavorite(blog.id)" style="color: black;" (click)="changeFavoriteStatus(blog.id)">&#9825;</button>
    <button *ngIf="isFavorite(blog.id)" style="color: red;" (click)="changeFavoriteStatus(blog.id)">&hearts;</button>
  </div>

  <br>

  <div style="text-align: justify;">
    <p style="font-size: 17px;">{{blog.content}}</p>
  </div>

</div>
</div>
