<div style="margin: 0px 25px 0px 10px;">
  <div style="text-align: right; margin-right: 20px;">
    <app-filter-blogs (radioButtonSelectionChanged)="onBlogRadioButtonChange($event)"></app-filter-blogs>
  </div>
  <div *ngIf="blogList.length != 0">
    <div *ngFor="let blog of blogList">
      <div id="blogContainer" *ngIf="selectedBlogRadioButton=='All' ||
                       selectedBlogRadioButton==blog.category">

        <div *ngIf="isCurrentUsersBlog(blog.authorID)" style="z-index: 9000; position: relative; float: right;">
          <button class="transparent" style="text-align: right; font-size: 20px;" [routerLink]="['/edit',blog.id]"><span
            class="glyphicon glyphicon-pencil"></span></button>
          <button class="transparent" style="text-align: right; font-size: 20px;" (click)="deletePopup(blog.id)"><span
            class="glyphicon glyphicon-trash"></span></button>
        </div>

        <div [id]=(blog.id) [routerLink]="['/read',blog.id]">
          <div style="position: relative;">
            <img src="data:image/jpeg;base64,{{blog.logo}}" alt="blogImage" style="width: 225px; height: 125px;">
            <div style=" position: absolute; top: 0px; left: 0; width: 100%;"><span
              id="categoryspan">{{blog.category}}</span></div>
            <h2 style=" position: absolute; top: 0px; left: 240px; width: 100%;">{{blog.title}}</h2>

            <div id="blogSubContainer" style="margin-left: 240px; position: absolute; top: 40px;  width: 100%;">
              <span>{{blog.author}}</span>
              <span>{{blog.date}}</span>
              <span *ngIf="!isFavorite(blog.id)" style="color: black;">&#9825;</span>
              <span *ngIf="isFavorite(blog.id)" style="color: red;">&hearts;</span>
            </div>
            <div id="blogContentShort" style="margin-left: 240px; position: absolute; top: 60px;  width: 100%;">
              <span class="two-line-ellipsis">{{blog.content}}</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="blogList.length == 0">
      <h2>No blogs found</h2>
  </div>

  <!-- Trigger the modal with a button -->
  <button type="button" id="deleteBlogModalButton" data-toggle="modal" data-target="#deleteBlogModal"
          style="display: none;">Open Modal
  </button>

  <!-- Modal -->
  <div id="deleteBlogModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Blog</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this blog ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-default" (click)="deleteBlog()">Yes</button>
        </div>
      </div>

    </div>
  </div>
</div>
