img {
  border: solid 1px black;
}

#blogContainer {
  border: solid 1px black;
  margin: 5px;
  padding: 5px;
}

#categoryspan {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  font-size: 15px;
  margin-left: 0px;
  margin-top: 0px;
}

#blogSubContainer span {
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  font-size: 15px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 5px;
  font-style: italic;
  color: olive;
}

#blogContentShort{
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  font-size: 15px;
  margin-left: 0px;
  margin-top: 0px;
}

.two-line-ellipsis {
  padding-left:2vw;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
  line-height: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-top: 15px;
}

.transparent {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 25px;
}
