<div id="loader" style="display: none;"></div>
<ul class="nav nav-tabs">
  <li class="active">
    <a (click)="loadBlogs('All')" role="tab" data-toggle="tab">All Blogs</a>
  </li>
  <li class=''>
    <a (click)="loadBlogs('favorites')" role="tab" data-toggle="tab">Favorite blogs</a>
  </li>

  <li class=''>
    <a (click)="loadBlogs('myBlogs')" role="tab" data-toggle="tab">My blogs</a>
  </li>
</ul>
<div class="form-group row">
<div class="col-xs-2" style="margin-top: 20px; margin-left: 0px;">
  <input class="form-control" type="text" placeholder="Search by Title.." [(ngModel)]="titleValueSearched" (ngModelChange)="searchBasedOnTitle()">
</div>
  <br>
  <app-list-blogs [blogList]="blogList"></app-list-blogs>
</div>

<!--Script to change selected tabs on click-->
<script>
  $('.nav.nav-tabs li').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>
