<div style="z-index: 9999;" class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    {{filterValue}} <span class="caret"></span></button>

  <div class="dropdown-menu" role="menu">
    <li>
      <input name='options' type='radio' value="All"
             [(ngModel)]="selectedRadioButtonValue"
             (change)="onRadioButtonSelectionChange()">
      <span class="radioClass">All</span>
    </li>

    <li>
      <input name="options" type="radio" value="Life"
             [(ngModel)]="selectedRadioButtonValue"
             (change)="onRadioButtonSelectionChange()">
      <span class="radioClass">Life</span>
    </li>

    <li>
      <input name="options" type="radio" value="Technology"
             [(ngModel)]="selectedRadioButtonValue"
             (change)="onRadioButtonSelectionChange()">
      <span class="radioClass">Technology</span>
    </li>

    <li>
      <input name="options" type="radio" value="Money"
             [(ngModel)]="selectedRadioButtonValue"
             (change)="onRadioButtonSelectionChange()">
      <span class="radioClass">Money</span>
    </li>

    <li>
      <input name="options" type="radio" value="Health"
             [(ngModel)]="selectedRadioButtonValue"
             (change)="onRadioButtonSelectionChange()">
      <span class="radioClass">Health</span>
    </li>

    <li>
      <input name="options" type="radio" value="Productivity"
             [(ngModel)]="selectedRadioButtonValue"
             (change)="onRadioButtonSelectionChange()">
      <span class="radioClass">Productivity</span>
    </li>

    <li>
      <input name="options" type="radio" value="Medical"
             [(ngModel)]="selectedRadioButtonValue"
             (change)="onRadioButtonSelectionChange()">
      <span class="radioClass">Medical</span>
    </li>
  </div>
</div>
