<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/blogs">Welcome to {{title}}!</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/blogs">Home</a></li>
      <li><a href="/add">Post a blog</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a (click)="logout()" *ngIf="!(windowObject.localStorage.getItem('currentUser')==null
              || windowObject.localStorage.getItem('currentUser').trim()=='')" style="text-align: right;">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div style="padding:5px">
  <router-outlet></router-outlet>
</div>

