<div id="loader" style="display: none;"></div>
<div class="container">
  <h1>Edit blog:</h1>

  <form #blogForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" required minlength="5" maxlength="50"
             [(ngModel)]="blog.title" name="title" #title="ngModel">
      <div *ngIf="title.errors && (title.dirty || title.touched)" class="alert alert-danger">
        <div [hidden]="!title.errors.required">
          Blog title is required!
        </div>
        <div [hidden]="!title.errors.minlength">
          Title must be at least 5 characters long.
        </div>
        <div [hidden]="!title.errors.maxlength">
          Title cannot be more than 50 characters long.
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="content">Content</label>
      <textarea type="text" class="form-control" id="content" required [(ngModel)]="blog.content" name="content"
                #content="ngModel" style="height: 300px; width: 100%"></textarea>
      <div *ngIf="content.errors && (content.dirty || content.touched)" class="alert alert-danger">
        <div [hidden]="!content.errors.required">
          Blog content is required!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <select name="category" id="category" [(ngModel)]="blog.category" required #category="ngModel">
        <option *ngFor="let category of allCategories" [ngValue]="category">
          {{ category }}
        </option>
      </select>
      <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">
        Blog category is required!
      </div>
    </div>

    <div class="form-group">
      <label for="filePicker">Choose or drag the blog logo:</label><br>
      <img style="width: 250px; height: 150px; display: inline;" src="data:image/jpeg;base64,{{blog.logo}}">
      <input type="file" accept="image/*" class="form-control" id="filePicker" required (change)="handleFileSelect($event)"
             name="filePicker">
      <div *ngIf="blog.logo==''" class="alert alert-danger">
        Blog logo is required!
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-default" [disabled]="!blogForm.form.valid || !isCurrentUsersBlog(blog.authorID)">Update</button>
    </div>
  </form>
</div>
